.headGif{
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ellisPic{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: auto;
    border-radius: 25px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19); */
}